<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
  IgnorableNamespaces="uap uap3 mp mobile">

  <Identity
    Name="dbb396bf-4fad-46a3-b053-c8c5dc4e7f95"
    Publisher="CN=Lenovo"
    Version="1.0.0.0"
    ProcessorArchitecture="x64" />

  <mp:PhoneIdentity PhoneProductId="dbb396bf-4fad-46a3-b053-c8c5dc4e7f95" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>fishgame</DisplayName>
    <PublisherDisplayName>Default publisher display name</PublisherDisplayName>
    <Logo>assets/logo_store.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal"
      MinVersion="10.0.22621.0"
      MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="fishgame.exe"
      EntryPoint="fishgame.App">
      <uap:VisualElements
        DisplayName="fishgame"
        Description="Default package description"
        BackgroundColor="green"
        Square150x150Logo="assets/logo_150x150.png"
        Square44x44Logo="assets/logo_44x44.png">

        <uap:SplashScreen Image="assets/logo_620x300.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
